<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img th:src="@{/static/images/logo.svg}" th:width="24" th:height="24"/>
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2022 Happy Family Photo</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://t.me/amelia_zvezdochkina"><img th:src="@{/static/images/telegram.svg}" th:width="24" th:height="24"/></a></li>
            <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/happy_family_photo_/"><img th:src="@{/static/images/instagram.svg}" th:width="24" th:height="24"/></a></li>
            <li class="ms-3"><a class="text-muted" href="https://vk.com/id718721605"><img th:src="@{/static/images/vk.svg}" th:width="24" th:height="24"/></a></li>
            <li class="ms-3"></li>
        </ul>
    </footer>
</div>
</body>
</html>