.nav-item {
    padding:0 15px 0 0;
    color: white;
    background-color: rgba(196,33,120,1);
    font-size:18px;
    font-weight:500;
    letter-spacing:0.5px;
    text-transform:uppercase;
    outline: transparent;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent;
    color: black;
}

.nav-tabs {
    border-bottom: none;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: black;
    border-color: transparent !important;
}